.s1_moviFooterMainPrimeMainDiv{
    width:95%;
    margin-left: 2.5%;
    
}
.s1_moviFooterMainDiv{
    background-color: rgb(243, 243, 243);
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: sans-serif;
}

.s1_moviFooterMainSubDiv{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
 
}

.s1_moviFooterMainFristSubDiv{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
   
}
 
#s1_moviFooterMainH1{
    font-size: 20px;
    color: rgb(7, 7, 7);
}

#s1_moviFooterMainH1DivH1{
    font-size: 13px;
}

#s1_moviFooterh3{
    font-size: 16px;
    font-weight: 400;
    color:rgb(126, 126, 126) ;
}

#s1_moviFooterMainH1DivP{
    font-size:12.5px;
    color:rgb(126, 126, 126) ;
}
#s1_roundBoxh1{
    border:1px solid rgb(134, 134, 134);
    width:fit-content;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 15%;
    font-size: 10px;
    color:rgb(126, 126, 126);
}